@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

h3 {
    color: #F9FAF8;
}

.secondary--text {
    color: #E5E7EB;
}

.hero,
footer,
a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero--content {
    display: flex;
    margin: 150px;
    gap: 20px;
    justify-content: center;
    align-items: start;
}

.hero__img {
    width: 400px;
}

.hero__header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 480px;
}

.links {
    display: flex;
    justify-content: end;
    padding: 28px;
    gap: 20px;
}

.top {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-evenly;
    margin: -15px;
}

.hero,
footer {
    background-color: #1F2937;
}

footer {
    margin-top: auto;
    text-align: center;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px;
    width: 100px;
    border-radius: 8px;
    font-weight: 600;

}

.hero__button {
    border: none;
    color: #F9FAF8;
}

.bottom__button {
    border-color: #F9FAF8;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    padding: 100px 200px;
}

.quote__signed {
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    text-align: right;
}

.information__image {
    width: 150px;
    border: 2px solid;
    border-radius: 8px;
    border-color: #3882F6;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.information {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.information__boxes {
    text-align: center;
    width: 150px;
    margin: 30px;
}

.bottom {
    display: flex;
    justify-content: center;
}

.bottom__background {
    background-color: #3882F6;
    width: 800px;
    margin: 60px;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}